<ion-header>

  <ion-toolbar>
    <ion-title>growers</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" [routerLink]="['/', 'home']">Home</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'about']">About</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'growers']">Growers</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'auctions']">Auctions</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'varieties']">Varieties</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'news']">News</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'contact']">Contact</ion-button>
      <ion-button slot="end" [routerLink]="['/', 'login']">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <h1>Grower information from API GET request</h1>
    <br />
    <ng-container *ngFor="let user of users">
      <ion-item-group *ngIf="user.got_apples_member === 1">
      <h3>User : {{ user.user_name }} </h3>
      <br />
      <ion-label>First name</ion-label>
      <ion-item>{{ user.first_name }}</ion-item>
      <br />
      <ion-label>Last name</ion-label>
      <ion-item>{{ user.last_name }}</ion-item>
      <br />
      <ion-label>Phone number</ion-label>
      <ion-item>{{ user.phone_number}}</ion-item>
      <br />
      <ion-label>Email address</ion-label>
      <ion-item>{{ user.email_address}}</ion-item>
    </ion-item-group>
    </ng-container>
  </ion-list>
</ion-content>