<ion-header>

  <ion-toolbar>
    <ion-title>grower</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" [routerLink]="['/', 'home']">Home</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'about']">About</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'growers']">Growers</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'auctions']">Auctions</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'varieties']">Varieties</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'news']">News</ion-button>
      <ion-button slot="start" [routerLink]="['/', 'contact']">Contact</ion-button>
      <ion-button slot="end" [routerLink]="['/', 'login']">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  Content comming soon!
</ion-content>
