<ion-header>

  <!-- LOGO/TITLE -->
  <ion-toolbar header_style>
    <ion-title header_logo_style>Got Apples!</ion-title>
  </ion-toolbar>

  <!-- NAVIGATION BAR -->
  <ion-toolbar nav_style>
    <ion-buttons>
      <ion-button nav_button_style current expand="full" slot="start" [routerLink]="['/', 'home']" >Home</ion-button>
      <ion-button nav_button_style expand="full" [routerLink]="['/', 'about']">About</ion-button>
      <ion-button nav_button_style expand="full" [routerLink]="['/', 'growers']">Growers</ion-button>
      <ion-button nav_button_style expand="full" [routerLink]="['/', 'auctions']">Auctions</ion-button>
      <ion-button nav_button_style expand="full" [routerLink]="['/', 'varieties']">Varieties</ion-button>
      <ion-button nav_button_style expand="full" [routerLink]="['/', 'news']">News</ion-button>
      <ion-button nav_button_style expand="full" [routerLink]="['/', 'contact']">Contact</ion-button>
      <ion-button nav_button_style expand="full" slot="end" [routerLink]="['/', 'login']">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content content_style [fullscreen]="true">
  <div ion-fixed grid_style>
    <ion-grid grid_style>

      <!-- NAVIGATION BREADCRUMBS -->
      <ion-row>
        <ion-col bread_crumbs_style size="12" size-lg="12" size-xl="10" offset-xl="1">
          <div>
            <span crumb_style [routerLink]="['/', 'home']">Home</span>
          </div>
        </ion-col>
      </ion-row>

      <!-- PAGE HEADING -->
      <ion-row> 
        <ion-col heading_style size="12" size-lg="12" size-xl="10" offset-xl="1">
          <div>
            <img src=".\assets\images\heading_backgrounds\home.png" />
            <h1 page_heading_txt>Welcome to Got Apples!</h1>
          </div>
        </ion-col>
      </ion-row>

      <!-- SPACING -->
      <ion-row >
        <ion-col space_style size="12" size-lg="12" size-xl="10" offset-xl="1">
          &nbsp;
        </ion-col>
      </ion-row>

      <!-- IMAGE CAROUSEL -->
      <ion-row>
        <ion-col slider_style size="12" size-lg="12" size-xl="10" offset-xl="1">
          <ion-slides [options]="sliderOpts" #slider>
            <ion-slide>
              <div>
              <img slide_img_style src=".\assets\images\home_page_slider\apples_on_ground.jpg" />
              <h2>Slide 1</h2>
              <p>Ko te moemoea a Maui kia haere ngatahi ai ratou ko ona tuakana ki te hii ika. I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, “ka taea e au te haramai i to koutou na taha ki te hii ika?” Engari, ko te whakautu o ona tuakana ki a ia ano</p>
            </div>
            </ion-slide>
            <ion-slide>
              <div>
                <img slide_img_style src=".\assets\images\home_page_slider\apples_on_chopping_board.jpg" />
                <h2>Slide 2</h2>
                <p>Ko te moemoea a Maui kia haere ngatahi ai ratou ko ona tuakana ki te hii ika. I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, “ka taea e au te haramai i to koutou na taha ki te hii ika?” Engari, ko te whakautu o ona tuakana ki a ia ano</p>
              </div>
            </ion-slide>
            <ion-slide>
              <div>
                <img slide_img_style src=".\assets\images\home_page_slider\apples_on_branch.jpg" />
                <h2>Slide 3</h2>
                <p>Ko te moemoea a Maui kia haere ngatahi ai ratou ko ona tuakana ki te hii ika. I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, “ka taea e au te haramai i to koutou na taha ki te hii ika?” Engari, ko te whakautu o ona tuakana ki a ia ano</p>
              </div>
            </ion-slide>
            <ion-slide>
              <div>
                <img slide_img_style src=".\assets\images\home_page_slider\girl_by_trees.jpg" />
                <h2>Slide 4</h2>
                <p>Ko te moemoea a Maui kia haere ngatahi ai ratou ko ona tuakana ki te hii ika. I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, “ka taea e au te haramai i to koutou na taha ki te hii ika?” Engari, ko te whakautu o ona tuakana ki a ia ano</p>
              </div>
            </ion-slide>
            <ion-slide>
              <div>
                <img slide_img_style src=".\assets\images\home_page_slider\red_apples.jpg" />
                <h2>Slide 5</h2>
                <p>Ko te moemoea a Maui kia haere ngatahi ai ratou ko ona tuakana ki te hii ika. I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, “ka taea e au te haramai i to koutou na taha ki te hii ika?” Engari, ko te whakautu o ona tuakana ki a ia ano</p>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>

      <!-- SPACING -->
      <ion-row>
        <ion-col space_style size="12" size-lg="12" size-xl="10" offset-xl="1">
          &nbsp;
        </ion-col>
      </ion-row>

    </ion-grid>
  </div> 

  <!-- PAGE FOOTER -->
  <div page_footer_style>
    <ion-grid>
      <ion-row>
        <ion-col affiliate_link_style size="4">
          <div>
            Links
            <br/>
            Here
          </div>
        </ion-col>
        <ion-col footer_logo_style size="4">
          <div>
            Logo
            <br/>
            Here
          </div>
        </ion-col>
        <ion-col social_media_link_style size="4">
          <div>
          Social Media
          <br/>
          Here
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div sub_footer_style></div>
</ion-content>
