// HEADER STYLING ///////////////////////////////////////////////////
[header] {
    --background: #2A6F03;
}

[header_logo] {
    font-size: 250%;
    font-weight: bold;
    --color: white;
}

// NAV BAR /////////////////////////////////////////////////////////
[nav] {
    --background: #64676C;
}

[nav_button] {
    --color: white;
   }

[current_nav] {
    font-weight: bold;
}

// CONTENT ////////////////////////////////////////////////////////
[background] {
    --background: #e3e4e6;  
}

[ion-fixed] {
    min-height: calc(90%); // adjust to your footer height!
}







[page_footer] {
    background: #64676C;
    color: #ffffff;
}

[affiliate_links] {
    text-align: center;
    border: thin, white, solid;
}



[social_media_links] {
    text-align: center;
    border: thin, white, solid;
}

[sub_footer] {
    height: 3%;
    background: #2A6F03; 
}

[nav_button] {
    --color: white;
   }

[current_nav] {
    font-weight: bold;
}

[test] {
    background: white;
}

[bread_crumbs] {
    border: thin black solid;
    background: #e3e4e6;
    color: black;
    font-size: x-small;
    opacity: 0;
}